<head>
    <style>
        h1 {text-align: center; color:brown;}
        h2 {text-align: center; color: brown}
        a {font-size: x-large; color:burlywood}
        li {color: antiquewhite;}
        ul {
            width: 75%;
            margin: auto; position: relative;
        }
        html, body {   
            top:0px;
            padding-top:0;
            margin:auto; position:relative;
            width:600px;
            height:100%;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    <body style="background-color:black"></body>
    <img class="center" src="Rippers-Logo.jpg">
    <title>Welcome to the Wellington Rippers</title>
    <h1>Welcome to the Wellington Rippers</h1>
    <h2>Join Baxter, Cuthbert, Klaus and a host of other Rippers as they travel London and the world, defeating monsters, uncovering mysteries, and delivering Pithy comments!</h2>
    <table>
        <tr>
            <td><a href="https://savaged.us/s/wlkoukau"><img height="200" src="baxter.jpg"></a></td>
            <td><a href="https://savaged.us/s/aan8bdsz"><img height="200" src="cuthbert.jpg"></a></td>
            <td><a href="https://savaged.us/s/1ar4d6bp"><img height="200" src="klaus.png"></a></td>
        </tr>
    </table>
    <ul>
        <li><a href="Rippers - Adventures Past - 001-something-is-not-right [520452420912807963].html">Session 1 Something is not right</a></li>
        <li><a href="Rippers - Adventures Past - 002-lets-dig-into-this [525898401804582922].html">Session 2 Lets dig into this</a></li>
        <li><a href="Rippers - Adventures Past - 003_1-book-em-danno [536037183178407956].html">Session 3 Book 'em Danno</a></li>
        <li><a href="Rippers - Adventures Past - 003-a-monkey-in-the-spanner [535563451649753098].html">Session 3.5 Monkey in the Spanner</a></li>
        <li><a href="Rippers - Adventures Past - 004-blimey-and-a-gimlit [553958339894181898].html">Session 4 Blimey and a Gimlit</a></li>
        <li><a href="Rippers - Adventures Past - 005-farewell-and-new-beginnings [560139687084294164].html">Session 5 Farewell and new beginnings</a></li>
        <li><a href="Rippers - Adventures Past - 006-the-bankes-affair [573245593707610122].html">Session 6 The Bankes Affair</a></li>
        <li><a href="Rippers - Adventures Past - 007-harkers-favour [591330304308805656].html">Session 7 Harker's Favor</a></li>
        <li><a href="Rippers - Adventures Past - 008-zu-nah-an-zu-hause [613891442158338072].html">Session 8 Zu Nah An Zu Hause</a></li>
        <li><a href="Rippers - Adventures Past - 009-strange-things-on-the-doorstep [641057844770242573].html">Session 9 Strange things on the doorstep</a></li>
        <li><a href="Rippers - Adventures Past - 010-into-the-underworld [696459348108509185].html">Session 10 Into the Underworld</a></li>
        <li><a href="Rippers - Current Adventure - 011-a-serious-undertaking [750120143295610890].html">Session 11 A Serious Undertaking</a></li>
    </ul>
</body>
